# Python dependencies
fastapi
uvicorn
sqlalchemy
asyncua
openpyxl
reportlab
psycopg2-binary
setuptools>=78.1.1
python-dotenv
python-multipart
celery
influxdb-client
redis
asyncua
# --- Database dependencies ---
# --- Test dependencies ---
pytest
pytest-asyncio
httpx
pytest-cov  # if you want coverage reports later
# --- Development dependencies ---
