# Python dependencies
fastapi
uvicorn[standard]
sqlalchemy
asyncua
openpyxl
reportlab
psycopg2-binary
setuptools>=78.1.1
python-dotenv
python-multipart
celery
celery[redis]
influxdb-client
redis
asyncua
python-jose[cryptography]
passlib[bcrypt]
email-validator
websockets
# --- Database dependencies ---
# --- Test dependencies ---
pytest
pytest-asyncio
httpx
pytest-cov  # if you want coverage reports later
# --- Development dependencies ---
